<div class="main-content page-m">
    <div class="section-content section-content-p5">
        <div class="container-fluid">
            <form #regForm="ngForm" (ngSubmit)="registerUser(regForm)">
                <input 
                    type="text" 
                    ngModel
                    name="name"
                    id="name"
                    placeholder="Enter your name"> 
                    <input 
                    type="text" 
                    ngModel
                    name="surname"
                    id="surname"
                    placeholder="Enter your surname"> 
                    <input 
                    type="text" 
                    ngModel
                    name="email"
                    id="email"
                    placeholder="Enter your email"> 
                    <input 
                    type="text" 
                    ngModel
                    name="password"
                    id="password"
                    placeholder="Enter your password"> 
                    <select name="role" id="role">
                        <!-- <option *ngFor="let rol of role">{{rol}}</option> -->
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select> 
                    <input type="submit" value="register">
            </form> 
        </div>
    </div>
</div>
