<div class="login-status-header">
   <div *ngIf="!userLog.loggedIn();else out">
     <button routerLink="/register" class="security-btn">Sign Up</button>
     <button routerLink="/login" class="security-btn">Sign In</button>  
    </div>
    <ng-template #out>
      <button  (click)="userLog.logout()" class="security-btn">Logout</button>
      <button *ngIf="this.newUser.role == 'Admin'"  routerLink="/users" class="security-btn">Users</button>
      <button *ngIf="this.newUser.role == 'Admin'"  routerLink="/admin/products" class="security-btn">Products</button>
      <button *ngIf="this.newUser.role == 'User'"  routerLink="/admin/products" class="security-btn">Orders</button>
    </ng-template>
    
</div>
